<div class="main-container">
  <div class="box">
    <div class="title">
      <h1>{{ title }}</h1>
    </div>

    <div>
      <p>Welcome to the Mars Rovers App</p>
      <div class="paragraph">
        <p>
          This application lets you select and configure NASA's
          <strong>Curiosity</strong>, <strong>Opportunity</strong> and
          <strong>Spirit</strong> rovers and view the photos taken by them in
          the specified configuration.
        </p>
        <p>
          The photos sent by the rovers are shown in a paginated manner for
          convenience.
        </p>
      </div>
    </div>
  </div>
</div>
