<nav class="sidebar">
  <div class="select-rover"><h3>Select Rover</h3></div>
  <div class="options">
    <div class="home" routerLink="/" routerLinkActive="active">
      <a mat-raised-button style="font-family: 'Poppins'"
        ><span>Home</span> <mat-icon>home</mat-icon></a
      >
    </div>
    <div class="rover-option">
      <a routerLink="rover/1" mat-raised-button style="font-family: 'Poppins'"
        >Curiosity</a
      >
    </div>
    <div class="rover-option">
      <a routerLink="rover/2" mat-raised-button style="font-family: 'Poppins'"
        >Opportunity</a
      >
    </div>
    <div class="rover-option">
      <a routerLink="rover/3" mat-raised-button style="font-family: 'Poppins'"
        >Spirit</a
      >
    </div>
  </div>
</nav>
